*, html, body{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
.background{
    background-color: white;
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: contain;
    background-image: none;
}
.darkBackground{
    background-color: #232323;
}
.topside{
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: auto;
    height: 10vh;
}
.title{
    display: inline-block;
    vertical-align:middle;
    display:table-cell;
    color: #0C58D3;
    font-size: 10vh;
    user-select: none;
}
.engrenagem{
    cursor: pointer;
}
.midside{
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textinput{
    height: 35px;
    width: 60vh;
    margin-left: 4%;
    border: 1.5px solid #B9B9B9;
    border-radius: 15px;
    box-shadow: 1px 3px gray;
    box-shadow: 2px;
}
.input{
    background-color: white;
    border-radius: 13px;
    display: block;
    padding-left: 1vh;
    width: 98.5%;
    height: 101%;
}
.darkInput{
    background-color: #484E54;
}
.plus{
    margin-left:1%;
    height: fit-content;
    width: min-content;
}
.bottomside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 2.5%;
    width: 130vh;
    height: 40vh;
}
.estado{
    background-color: white;
    border: 1.5px solid #B9B9B9;
    border-radius: 25px;
    box-shadow: 1px 3px gray;
    height: 100%;
    width: 30%;
    margin-bottom: 2%;
}
.darkEstado{
    background-color: #484E54;
    border: 1.5px solid #484E54;
    box-shadow: 1px 3px black;
}
.estadoText{
    margin:auto;
    margin-top: 5%;
    text-align: center;
    font-size: 5vh;
}
.darkEstadoText{
    color: white;
}
.linhaheader{
    display: flex;
    margin: auto;
    background-color: #0C58D3;
    width: 15%;
    height: 1px;
}
.linha{
    display: flex;
    margin: auto;
    margin-top: 2%;
    background-color: #b9b9b9;
    width: 81%;
    height: 1px;
}
/* modal */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.modalContent{
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 25vh;
    width: 75vh;
    height: 50vh;
    border-radius: 25px;
    background-color: white;
}
.darkModalContent{
    background-color: #484E54;
}
.textoModal{
    user-select: none;
    text-align: center !important;
    font-size: 5vh;
    padding-top: 20px;
}
.darkTextoModal{
    color: white;
}
.textoModalSub{
    display: inline-block;
    justify-content: space-between;
    text-align: left;
    font-size: 3vh;
    padding-top: 40px;
    padding-left: 7vh;
}
.darkTextoModalSub{
    color: white;
}
.textoModalSub2{
    display: block;
    justify-content: space-between;
    text-align: left;
    font-size: 3vh;
    padding-top: 40px;
    padding-left: 7vh;
}
.darkTextoModalSub2{
    color: white;
}
.url{
    display: block;
    margin-top: 20px;
    margin-left: 7vh;
    width: 78%;
    padding: 1.2vh;
    height: 3vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: transparent;
}
.darkUrl{
    border: 1px solid white;
    background-color: white;
}
.limpar{
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 7vh;
    padding: 0.5vh;
}
.limpar:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    display: inline-block;
    border: 1px solid red;
    border-radius: 15px;
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 7vh;
    padding: 0.5vh;
}
.darkLimpar{
    border: 1px solid #b9b9b9;
    background-color: #b9b9b9;
    color: black;
}
.darkLimpar:hover{
    cursor: pointer;
    border: 1px solid red;
    background-color: red;
    color: white;
}
.aplicar{
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 39vh !important;
    padding: 0.5vh;
}
.aplicar:hover{
    cursor: pointer;
    background-color: #3071D9;
    color: white;
    display: inline-block;
    border: 1px solid #3071D9;
    border-radius: 15px;
    font-size: 3vh;
    margin-top: 2vh;
    margin-left: 7vh;
    padding: 0.5vh;
}
.darkAplicar{
    border: 1px solid #b9b9b9;
    background-color: #b9b9b9;
    color: black;
}
.darkAplicar:hover{
    cursor: pointer;
    border: 1px solid #3071D9;
    background-color: #3071D9;
    color: white;
}

/* botão toggle */
.switch {
    float: right;
    margin-top: 5vh;
    margin-right: 7vh;
    position: relative;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


::placeholder{
    color: #B9B9B9;
}
@media (max-width: 600px){
    .bottomside{
        display: inline-block;
        margin-left: 30%;
        };
}